.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.login-button {
  border-radius: 0.25rem;
  border: 0;
  padding: 0.5rem 0.5rem;
  background-color: #FC4854!important;
  border-color:#FC4854!important;
  font-weight: bold;
  color:white;
}

.register-button {
  border-radius: 0.25rem;
  border: 0;
  padding: 0.5rem 0.5rem;
  background-color: white!important;
  border-color: white!important;
  font-weight: bold;
  color:#FC4854!important;
}

.down-button {
  border-radius: 0.25rem;
  border: 0;
  background-color: #FC4854!important;
  border-color: #FC4854!important;
  font-weight: bold;
  color: white;
}

.register-input {
  color: #7a8599;
  background-color: #262B31;
  border-radius: 0.25rem;
  border: 0;
  padding: 1.5rem 0.75rem;
  width: 80%;
}

.date-box {
  background-color: #FC4854!important;
  border-radius: 0.25rem;
  border: 0;
  padding: 0.5rem 0.5rem;
}

.image {
  border-radius: 0.25rem;
  border: 0;
  padding: 0.5rem 0.5rem;
}

*{
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Valorant';
  src: local('Valorant Font'), url(./fonts/ValorantFont.ttf) format('truetype');
}

.title {
  font-family: Valorant;
  color: white;
}

.skin-box {
  background-color: #FC4854!important;
  width: 0.1rem;
  border-radius: 0.25rem;
  border: 0;
  padding: 0.5rem 0.5rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
